body {
    /* background-color: #e8e7f7a4; */
    /* background-color: #F2F2F2; */
    /* background-color: #cdf5b0; */
    background-color: #d6f5af;
    align-items: center;
}

.name {
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    color: #1C1C1C;
}

h2 {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    color: #1C1C1C;
}

h3 {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #1C1C1C;
    line-height: 1.5;
}

h4 {
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #1C1C1C;
}

summary {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #1C1C1C;
    line-height: 1.5;
    outline: none;
}

a {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    /*color: #15795B;*/
    color: #0e9e73;
    text-decoration: none;
}

button {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    /*color: #15795B;*/
    color: #1C1C1C;
    background-color: #D6F5AE;
    text-decoration: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover {
    background-color: #C6E59E;
    border-radius: 10%;
    cursor: pointer;
}

.code {
    padding: 10px;
    background-color: #bfe591;
}

.article {
    color: #15795B;
    margin-right: 5px;
}

li {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #1C1C1C;
    line-height: 1.5;
}

#topbar {
    margin: auto;
    width: 50%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    #topbar {
        flex-direction: column;
    }

    #topbar a {
        margin: 5px 10px;
    }
}

@media only screen and (min-width: 601px) {
    #topbar {
        flex-direction: row;
    }

    #topbar a {
        margin: 0 20px;
    }
}

#topbar a {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 10px;
    text-decoration: none;
    color: #1C1C1C;
    /*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5%;*/
}

#topbar a:hover {
    /*background-color: #c8c6eca4;*/
    /*background-color: #ADEBB5a4;*/
    background-color: #C6E59E;
    border-radius: 10%;
    cursor: pointer;
}

#apps a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #1C1C1C;
}

#apps div {
    flex: 1 0 25%;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 10px;
    outline-width: 1px;
    outline-style: dashed;
    outline-color: #15795B;
    text-align: center;
}

#apps div:hover {
    background-color: #C6E59E;
    /*border-radius: 5%;*/
    cursor: pointer;
}

#footer {
    padding: 10px 5px;
}

.content {
    margin: 10px auto;
    max-width: 900px;
}

.center {
    margin: auto;
    text-align: center;
}

.arrow {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.arrow:hover {
    background-color: #C6E59E;
    border-radius: 50%;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b3da82;
    /* border-radius: 3px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #87ab5a;
    /* border-radius: 3px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #607c3c;
}